# File location: ~/.config/miriway-shell.config

x11-window-title=Sway/Miriway
app-env-amend=XDG_SESSION_TYPE=wayland:GTK_USE_PORTAL=0:XDG_CURRENT_DESKTOP=Sway:GTK_A11Y=none
shell-component=systemd-run --user --scope --slice=background.slice swaybg --mode fill --output '*' --image /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_2048x1536.png
shell-component=waydroid show-full-ui
